html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
  margin: auto;
  width: 50%;
  padding: 10px;
}

/* .topnav is the main navigation bar division */
.topnav {
  background-color: #ffd1d3;
  overflow: hidden;
  font-family: 'Kanit';
}

/* Styles the links of the navigation bar */
.topnav a {
  float: left;
  color: #416055;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Styles the dropdown */
.dropdown {
  float: right;
  text-align: center;
  overflow: hidden;
  padding: 0px 60px;
  font-size: 16px;
}

/* Styles the buttons of the dropdown */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: #416055;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* When the nav bar, dropdown, dropdown button are hovered or focused on */
.topnav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: #f4eaff;
}

/* Styles the dropdown buttons */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Styles the links of the dropdown */
.dropdown-content a {
  float: right;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* When dropdown content is hovered */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Whether the dropdown is displayed or not */
.show {
  display: block;
}

/* .login_form {
  
} */ 

/* Home Page Stylization */
/* .homePage {} */

.logoContainer {
  width: 40%;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  
}

.logoContainerfp {
  width: 25%;
  display: flex;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  
}

 .welcomeText {
  text-align: center;
  font-family: 'Kanit';
  color: rgb(97, 168, 153);
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: -40px;

}

.forgotpassword {
  text-align: center;
  font-family: 'Kanit';
  color: rgb(97, 168, 153);
  font-size: 3rem;
  margin-top: 20px;
  margin-bottom: -20px;

}

.topBanner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

.bottomBanner {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}

/* Pop The Bubble Stylization */
.popBubblesBG {
  background-color: #d5bcf0;
}

.bubbleDirections {
  padding-top: 40px;
  padding-bottom: 40px;
}

.bubbleTitle h1 {
  color: #655777;
  background-color: white;
  line-height: 3.4rem;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 4.5rem; 
  font-family: 'Silkscreen';
  text-align: center;
}

.bubbleDirections h2 {
  color: black;
  font-size: 7vh;
  font-family: 'Silkscreen';
  text-align: center;
  
}

.bubbleDirections h3 {
  color: #655777;
  font-size: 5vh;
  font-family: 'Silkscreen';
  text-align: center;
  
}

.textBoxBubble {
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  height: 80vh; /* */
  background-color: #e7def3;
  overflow: auto;
}

.textBoxBubble :first-child {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color: #e1cdfc;
  color: #655777;
}
 
/* Connect The Dots Stylization */
.connectTheDotsBG {
  background-color: #a2c4c9;
}

.dotsDirections {
  padding-top: 40px;
  padding-bottom: 40px;
}

.dotsTitle h1 {
  color: #465658;
  background-color: white;
  line-height: 3.4rem;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 4.5rem; 
  font-family: 'Silkscreen';
  text-align: center;
}


.dotsDirections h2 {
  color: black;
  font-size: 7vh;
  font-family: 'Silkscreen';
  text-align: center;
}

.dotsDirections h3 {
  color: #465658;
  font-size: 5vh;
  font-family: 'Silkscreen';
  text-align: center;
  
}

.textBoxDots {
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  height: 80vh; /* */
  background-color: #e0f1f3;
  flex-direction: column; 
  overflow: auto;
}

.textBoxDots :first-child {
  display: flex;
  justify-content: center;
  padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color: #bee6ec;
  color: #465658;
}

/* Jigsaw Puzzle Stylization */

.puzzleBG {
  background-color: #ffc760;
}

.puzzleDirections {
  padding-top: 40px;
  padding-bottom: 40px;
}

.puzzleTitle h1 {
  color: #9c6b10;
  background-color: white;
  line-height: 3.4rem;
  margin: 0 auto;
  padding-top: 0px;
  padding-bottom: 10px;
  font-size: 4.5rem; 
  font-family: 'Silkscreen';
  text-align: center;
}

.puzzleDirections h2 {
  color: black;
  font-size: 7vh;
  font-family: 'Silkscreen';
  text-align: center;
}

.puzzleDirections h3 {
  color: #9c6b10;
  font-size: 5vh;
  font-family: 'Silkscreen';
  text-align: center;
  
}

.textBoxPuzzle {
  border: 1px solid black;
  padding: 15px;
  margin: 0 auto;
  width: 50%;
  height: 80vh;
  background-color: #fff6e4;
  overflow: auto;
}

.textBoxPuzzle :first-child {
  padding: 5px 0;
  padding-left: 15px;
  width: calc(100% + 15px);
  margin: -15px -15px 0 -15px;
  background-color: #ffd484;
  color: #9c6b10;
}

/* Formats the start button for activites */
.textBoxDots .startButton {
  
  cursor: pointer;
  font-size: 4vh;
  border: none;
  outline: none;
  color: white;
  padding: 10px 18px;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  width: fit-content;
  font-family: 'Silkscreen';
  text-align : center;
  background-color: #465658;
}

.textBoxPuzzle .startButton {
  cursor: pointer;
  font-size: 4vh;
  border: none;
  outline: none;
  color: white;
  padding: 10px 18px;
  display: block;
  margin: 0 auto;
  min-width: 200px;
  width: fit-content;
  font-family: 'Silkscreen';
  text-align : center;
  background-color: #9c6b10;
}

.textBoxBubble .startButton {
  cursor: pointer;
  font-size: 4vh;
  border: none;
  outline: none;
  color: white;
  padding: 10px 18px;
  display : block;
  margin : 0 auto;
  min-width: 200px;
  width: fit-content;
  font-family: 'Silkscreen';
  text-align : center;
  background-color: #655777;
}



/* Login Page Stylization */
input[type=text], input[type=password] {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 8px;
  display: inline-block;
  border: 3px solid #416055ff;
  box-sizing: border-box;
  font-family: 'Silkscreen';
  font-size: 20px;
}

.forgot button {
  background-color: #416055ff;
  color: #bee8daff;
  padding: 14px 20px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 50%;
  font-family: 'Kanit';
  font-size: 20px;
}

.fpbutton button {
  color: #416055ff;
  background-color: #bee8daff;
  padding: 14px 20px;
  display: block;
  margin: 0 auto;
  border: none;
  cursor: pointer;
  width: 50%;
  font-family: 'Kanit';
  font-size: 20px;
}

 .container3 {
  text-align: center;
  font-family: 'Kanit';
}

button:hover {
  opacity: 0.8;
}

.container {
  text-align: center;
  font-family: 'Kanit';
}

.forgot {
  text-align: center;
  font-family: 'Silkscreen';
  font-size: 25px;
  padding: 20px;
}

.fpbutton {
  text-align: center;
  font-family: 'Silkscreen';
  font-size: 25px;

  padding: 0 20px;
}

iframe {
  display: none;
  width: 99.7%;
  overflow: hidden;
  height: 515px;
}

/* For displaying activity after startGame() is called; Is the ID of iframe */
#activity-container {
  overflow: hidden;
  display: none;
}

#PuzzleActivity-container {
  overflow: hidden;
  display: none;
}

#BubbleActivity-container {
  overflow: hidden;
  display: none;
}


/* Formating for Profile Page */
.pfpBody {
  height: calc(100vh - 50px);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  gap: 20px;
}

/* Flex container for both info boxes */
.info-boxes {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.high-scores h2 {
  font-family: 'Silkscreen';
  font-size: 3rem;
  color: #8469a1;
}

.account-info h2 {
  font-family: 'Silkscreen';
  font-size: 3rem;
  color: #8469a1;
}

.high-scores p {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  color: #8469a1;
}

.account-info p {
  font-family: 'Kanit', sans-serif;
  font-size: 1.5rem;
  color: #8469a1;
}
.account-info, .high-scores {
  margin: 10px;
  padding: 15px;
  background-color: #e9fcff;
  border: 1px solid #e9fcff;
  border-radius: 8px;
  width: 45%;
  text-align: left;
  height: 50vh;
  box-sizing: border-box;
}

/* Container for game buttons */
.gameButton-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  margin-top: 20px;
  min-height: 50px;
  height: 15%;

}

/* Button styling */
.gameButton-container button {
  padding: 10px 20px;
  font-size: 2rem;
  font-family: 'Silkscreen';
  background-color: #9679b6;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: fit-content;
}

/* Button hover effect */
.gameButton-container button:hover {
  background-color: #775b8d;
}


