html, body {
  margin: 0;
  padding: 0;
}

canvas {
  display: block;
}

/* .topnav is the main navigation bar division */
.topnav {
  background-color: #000000;
  overflow: hidden;
  font-family: Arial, Helvetica, sans-serif;
}

/* Styles the links of the navigation bar */
.topnav a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 16px;
}

/* Styles the dropdown */
.dropdown {
  float: right;
  text-align: center;
  overflow: hidden;
  padding: 0px 60px;
  font-size: 16px;
}

/* Styles the buttons of the dropdown */
.dropdown .dropbtn {
  cursor: pointer;
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

/* When the nav bar, dropdown, dropdown button are hovered or focused on */
.topnav a:hover, .dropdown:hover .dropbtn, .dropbtn:focus {
  background-color: darkgreen;
}

/* Styles the dropdown buttons */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Styles the links of the dropdown */
.dropdown-content a {
  float: right;
  color: black;
  padding: 12px 30px;
  text-decoration: none;
  display: block;
  text-align: center;
}

/* When dropdown content is hovered */
.dropdown-content a:hover {
  background-color: #ddd;
}

/* Whether the dropdown is displayed or not */
.show {
  display: block;
}

.login_form {
  
}

.directions {
  
}

h1{
  color: black;
  font-size: 24;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;

  
}

h2{
  color: black;
  font-size: 16;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  
}

h3{
  color: black;
  font-size: 15;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}